user_settings.xml
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
target/
# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
*.classpath










